@use 'sass:math';
@charset 'utf-8';
@import 'normalize';
@import 'auto-em-rem-perssent';
@import 'calc-adaptive';
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$colBlue: #00A1DF;
body{
	font-family: 'Circe';
	overflow-x: hidden;
	font-size: rem(20);
	line-height: em(29);
	&.lock{
		overflow: hidden;
	}
	// font-family: 'Content', cursive;
	// font-family: 'Roboto', sans-serif;
}

$offsetContainer: 15px; 

.container{
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $offsetContainer;
}

ul li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.visually-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	white-space: nowrap;
}
.wrapper{
	overflow: hidden;
}
.menu__burger{
	display: block;
	z-index: 5;
	position: relative;
	width: 30px;
	height: 16px;
	cursor: pointer;
	&::before,
	&::after{
		content: '';
	}
	&::before,
	&::after,
	& span{
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 2px;
		transition: .3s;
		background-color: $colBlue;
	}
	&::before{
		top: 0;
	}
	&::after{
		bottom: 0;
	}
	& span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	&.active span{
		transform: scale(0) translate(0px, -50%);
	}
	&.active::before{
		top: 50%;
		transform: rotate(45deg) translate(0px, -50%);
	}
	&.active::after{
		bottom: 50%;
		transform: rotate(-45deg) translate(0px, 50%);
	}
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: .2s;
	&.open{
		opacity: 1;
		visibility: visible;
	}
	&.open &__content{
		opacity: 1;
		transform: translate(0px, 0px);
	}
	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
	}
	&__content {
		background-color: #fff;
		max-width: 830px;
		width: 100%;
		position: relative;
		opacity: 0;
		transition: .2s;
		transform: translate(0px, -100px);
		&_image{
			padding: 0;
		}
	}
}
.header {
	padding-top: 8vh;
	position: relative;
	z-index: 5;
	background-image: url('../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	min-height: 100vh;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(231, 240, 253, 0.5) 100%);
	}
	&__top {
		margin-bottom: 6vh;
	}
	&__menu {
		padding-top: 16vh;
		position: absolute;
		top: 0;
		left: 0%;
		transform: translateX(-100%);
		font-family: 'Roboto', sans-serif;
		color: #fff;
		@include adaptive-value("padding-right", 30, 20, 1);
		@include adaptive-value("padding-left", 30, 20, 1);
		background-color: $colBlue;
		min-width: 270px;
		min-height: 100vh;
		transition: transform 0.2s linear;
		&.active{
			transform: translateX(0%);
		}
	}
	&__menu-top {}
	&__logo-link{
		display: inline-block;
		margin-bottom: 6vh;
	}
	&__logo {
		@include adaptive-value("width", 117, 78, 1);
	}
	&__menu-list {
		margin-bottom: 11vh;
	}
	&__menu-item {
		font-size: rem(18);
		line-height: em(21);
		@include adaptive-value("margin-bottom", 30, 22, 1);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__menu-link {}
	&__form {
		@include adaptive-value("margin-bottom", 37, 20, 1);
	}
	&__form-box {
		position: relative;
	}
	&__form-inp {
		width: 100%;
		font-size: rem(15);
		line-height: em(18);
		color: #fff;
		@include adaptive-value("padding-top", 15, 12, 1);
		@include adaptive-value("padding-bottom", 15, 12, 1);
		@include adaptive-value("padding-left", 17, 10, 1);
		@include adaptive-value("padding-right", 31, 27, 1);
		backdrop-filter: blur(20px);
		background: rgba(255, 255, 255, 0.46);
		border-radius: 5px;
		border: none;
		&::placeholder{
			color: #fff;
		}
		&:focus{
			outline: 1px solid #000;
		}
	}
	&__form-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-43%);
		@include adaptive-value("right", 10, 6, 1);
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__social-item {}
	&__social-link {}
	&__content {}
	&__content-wrapper{
		max-width: 625px;
		margin-left: auto;
		text-align: right;
	}
	&__title {
		font-size: rem(60);
		line-height: 1.45em;
		font-weight: 700;
		@include adaptive-value("margin-bottom", 20, 15, 1);
	}
	&__descr {
		font-size: rem(35);
		line-height: 120%;
		margin-bottom: 7vh;
	}
	&__btn {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: rem(18);
		line-height: em(21);
		color: #fff;
		background-color: $colBlue;
		box-shadow: 0px 0px 22px #DDF5FF;
		border-radius: 5px;
		@include adaptive-value("padding-top", 22, 14, 1);
		@include adaptive-value("padding-bottom", 22, 14, 1);
		@include adaptive-value("padding-right", 92, 58, 1);
		@include adaptive-value("padding-left", 92, 58, 1);
	}
}

.tabs__item{
	display: none;
	&._active{
		display: block;
	}
}

.events {
	padding: 16vh 0;
	&__inner {}
	&__content {}
	&__item {}
	&__item-body{
		display: flex;
		justify-content: space-between;
	}
	&__title-calendar {
		font-family: 'Roboto', sans-serif;
		font-size: rem(35);
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: 30px;
		color: #2b2b2b;
	}
	&__item-calendar{
		margin-right: 30px;
	}
	&__content-image {
		max-width: 600px;
		img{
			width: 100%;
			max-width: 600px;
		}
	}
	&__content-wrapper {}
	&__content-item {
		max-width: 375px;
		padding-top: 50px;
		@include adaptive-value("padding-bottom", 60, 50, 1);
		@include adaptive-value("padding-right", 52, 27, 1);
		@include adaptive-value("padding-left", 50, 25, 1);
		box-shadow: 0px 4px 40px rgba(220, 220, 220, 0.25);
		border-radius: 20px;
		background-color: #fff;
		position: relative;
		margin-bottom: 7vh;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 161, 225, 0.12);
			border-radius: 20px;
			transform: rotate(-18.55deg);
			z-index: -1;
			width: 100%;
			height: 85.43%;
		}
		&:last-child{margin-bottom: 0;}
	}
	&__content-title {
		font-weight: 700;
		font-size: rem(25);
		line-height: em(37);
		@include adaptive-value("margin-bottom", 15, 10, 1);
	}
	&__content-descr {
		font-size: rem(15);
		line-height: em(22);
		color: #8b8b8b;
		margin-bottom: 5px;
	}
	&__content-more {
		font-size: rem(18);
		line-height: em(26);
		color: #00A1E1;
	}
	&__nav {
		margin-top: -50px;
		display: flex;
		margin-bottom: 8vh;
	}
	&__nav-btn {
		@include adaptive-value("margin-right", 60, 30, 1);
		font-family: 'Roboto', sans-serif;
		font-size: rem(20);
		line-height: em(23);
		color: #8b8b8b;
		background-color: transparent;
		border: none;
		transition: 0.2s;
		cursor: pointer;
		&._active{
			color: #00A1E1;
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__archive {
		font-size: rem(18);
		line-height: em(27);
		color: #00A1E1;
		svg{
			@include adaptive-value("width", 38, 24, 1);
		}
	}
	&__archive-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		span{
			margin-right: 7px;
		}
	}
}
.log {
	&__title {
		@include adaptive-value("margin-bottom", 30, 20, 1);
	}
	&__cards {
		@include adaptive-value("padding-top", 110, 50, 1);
		@include adaptive-value("padding-bottom", 120, 50, 1);
		background-color: #00a1df;
		
	}
	&__cards-body{
		display: flex;
		justify-content: center;
		padding: 0 15px;
	}
	&__card {
		flex: 0 1 390px;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		@include adaptive-value("padding", 32, 26, 1);
		position: relative;
		&::before{
			content: '';
			position: absolute;
			@include adaptive-value("top", 45, 39, 1);
			left: 0;
			width: 72px;
			height: 5px;
			background-color: #F9BC0E;
		}
		display: flex;
		flex-direction: column;
		align-self: flex-end;
	}
	&__card-partner{
		flex: 0 1 450px;
		margin: 0 20px;
	}
	&__card-icon {
		position: relative;
		text-align: right;
		margin-bottom: 10px;
		svg{
			@include adaptive-value("max-width", 77, 42, 1);
		}
	}
	&__card-title {
		font-size: rem(30);
		line-height: 1.45;
		@include adaptive-value("margin-bottom", 30, 20, 1);
		span{
			font-size: rem(20);
			line-height: 1.45;
		}
		flex: 1 1 auto;
	}
	&__card-descr {
		font-size: rem(20);
		line-height: 1.45;
		color: #8b8b8b;
	}
}
.novelties {
	padding: 15vh 0;
	&__title {@include adaptive-value("margin-bottom", 30, 20, 1);}
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@include adaptive-value("margin-bottom", 37, 20, 1);
	}
	&__card {
		position: relative;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		max-width: 320px;
		margin-bottom: 30px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-color: #DFF3FA;
			border-radius: 10px;
			transform: matrix(0.99, 0.32, -0.15, 0.95, 0, 0);
		}
		&:nth-child(even){
			margin-right: 20px;
			margin-left: 20px;
		}
	}
	&__image {
		width: 100%;
		max-height: 293px;
		overflow: hidden;
		border-radius: 10px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		img{
			max-width: 100%;
		}
	}
	&__text {
		@include adaptive-value("padding-top", 35, 20, 1);
		padding-right: 30px;
		@include adaptive-value("padding-bottom", 51, 40, 1);
		padding-left: 20px;
	}
	&__card-title {
		font-size: rem(30);
		line-height: 1.45;
		@include adaptive-value("margin-bottom", 20, 10, 1);
	}
	&__card-descr {
		font-size: rem(20);
		line-height: 1.45;
		color: #8b8b8b;
	}
	&__all {
		font-size: rem(18);
		line-height: em(27);
		color: #00A1E1;
		svg{
			@include adaptive-value("width", 38, 24, 1);
		}
	}
	&__all-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		span{
			margin-right: 7px;
		}
	}
}
.reviews {
	padding-top: 15vh;
	padding-bottom: 5.9vh;
	background-color: #00a1df;
	&__title{
		@include adaptive-value("margin-bottom", 30, 20, 1);
	}
	&__swiper-container {
		overflow: visible;
	}
	&__slider {
		display: flex;
		align-items: center;
	}
	&__slide {
		align-self: center;
		border-top: 1px solid transparent;
		// max-width: 610px;
		filter: blur(5px);
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		text-align: center;
		@include adaptive-value("padding-right", 59, 25, 1);
		@include adaptive-value("padding-left", 59, 25, 1);
		padding-bottom: 25px;
		transition: 0.3s;
		&.swiper-slide-next,
		&.swiper-slide-prev{
			filter: blur(5px);
		}
		&.swiper-slide-active{
			transform: scale(1.025);
			filter: blur(0px);
			z-index: 5;
			@include adaptive-value("padding-bottom", 70, 21, 1);
		}
	}
	&__slide-body {}
	&__slide-image {
		@include adaptive-value("width", 150, 120, 1);
		@include adaptive-value("height", 150, 120, 1);
		margin: 0 auto;
		margin-top: -75px;
		@include adaptive-value("margin-bottom", 30, 20, 1);
		position: relative;
		img{
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__slide-subimage{
		padding: 1px;
		background-color: #fff;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		position: absolute;
		bottom: 0px;
		right: 10px;
		svg{
			width: 100%;
			height: 100%;
		}
	}
	&__slide-info{
		display: flex;
		flex-direction: column;
		@include adaptive-value("margin-bottom", 30, 15, 1);
	}
	&__slide-title {
		font-size: rem(30);
		line-height: 1.44;
		font-weight: 700;
		margin-bottom: 10px;
	}
	&__slide-post,
	&__slide-company {
		font-size: rem(25);
		line-height: 1.44;
		font-weight: 500;
		color: #6b6b6b;
		margin-bottom: 10px;
	}
	&__slide-company {}
	&__slide-quote {
		margin: 0 auto;
		background-color: #F9BC0E;
		@include adaptive-value("width", 59, 46, 1);
		@include adaptive-value("height", 59, 46, 1);
		border-radius: 50%;
		font-family: 'Content', cursive;
		font-size: rem(70);
		line-height: 1.44;
		letter-spacing: -0.095em;
		color: #FFFFFF;
		@include adaptive-value("margin-bottom", 30, 15, 1);
		span{
			display: block;
			transform: rotate(-180deg);

		}
	}
	&__slide-descr {
		font-size: rem(20);
		line-height: 1.44;
		color: #8b8b8b;
	}
	&__slider-subtext {
		@include adaptive-value("margin-top", 43, 28, 1);
		font-size: rem(18);
		line-height: em(27);
		text-align: right;
		color: #fff;
	}
	&__slider-subtext--link {
		position: relative;
		z-index: 11;
		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 1px;
			background-color: #fff;
		}
		&:hover::before{display: none;}
	}
	.swiper-pagination-bullets{
		bottom: -10px;
	}
	.swiper-pagination-bullet{
		background-color: #fff;
		width: 15px;
		height: 15px;
		transition: .3s;
		&-active{
			width: 18px;
			height: 18px;
		}
	}
	.swiper-button-next,
	.swiper-button-prev{
		top: initial;
		bottom: -6px;
		margin-top: 0;
		&::after{
			color: #fff;
			font-size: rem(20);
		}
	}
	.swiper-button-next{
		right: 43%;
	}
	.swiper-button-prev{
		left: 43%;
	}
}
.companys {
	padding: 10vh 0;
	text-align: center;
	&__title {
		font-weight: 700;
		font-size: rem(45);
		line-height: 1.44;
		color: #8b8b8b;
		margin-bottom: 5vh;
	}
	&__organaizer {
		margin-bottom: 7vh;
		img{
			max-width: 100%;
		}
	}
	&__partners {}
	&__partners-title {}
	&__partners-inner {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 25px;
	}
	&__partners-item {
		max-width: 300px;
		img{
			max-width: 100%;
		}
		&:not(:last-child){
			margin-right: 25px;
		}
	}
	&__more {
		font-size: rem(18);
		line-height: em(27);
		color: #00A1E1;
		svg{
			@include adaptive-value("width", 38, 24, 1);
		}
	}
	&__more-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		span{
			margin-right: 7px;
		}
	}
}
.footer {
	background-color: #00a1df;
	padding-top: 10vh;
	padding-bottom: 10vh;
	color: #fff;
	font-size: rem(20);
	line-height: 1.44;
	&__body {}
	&__header {
		display: flex;
	}
	&__logo-link {
		width: 200px;
		margin-right: 7vw;
		img{}
	}
	&__logo {}
	&__descr {
		flex-basis: 680px;
	}
	&__descr-item {
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	
	&__nav {
		display: flex;	
		margin-top: -30px;
	}
	&__menu-list {
		width: 200px;
		margin-right: 7vw;
		font-family: 'Roboto', sans-serif;
		font-size: rem(18);
		line-height: em(21);
	}
	&__menu-item {
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	&__menu-link {}
	&__info {
		font-family: 'Circe';
		padding-top: 70px;
		display: flex;
    	flex-direction: column;
    	min-height: 100%;
	}
	&__contacts {
		font-style: normal;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__contacts-item{
		margin-bottom: 15px;
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
	&__contacts-tel {}
	&__contacts-address {}
	&__contacts-email {}
	&__links {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		height: 100%;
	}
	&__links-item{}
	&__links-map {
		position: relative;
		&::before{
			position: absolute;
			bottom: 0;
			content: '';
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
		&:hover::before{display: none;}
	}
	&__links-list {
		display: flex;
		align-items: center;
	}
	&__links-list--item {
		&:not(:last-child)
		{
			padding-right: 20px;
		}
	}
	&__links-list-link {}
	&__links-partner {}
	&__links-partner--item {}
}

.page-header{
	background-image: url('../images/news-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	min-height: 41.623vh;
	padding-bottom: 1vh;
	position: relative;
	&::before{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background-color: rgba(0, 0, 0, 0.2);
	}
	.menu__burger{
		&::before,
		&::after,
		& span{
			background-color: #fff;
		}
	}
	.header__content{
		max-width: 32%;
		position: relative;
		z-index: -1;
		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 5px;
			background-color: #F9BC0E;
		}
	}
	.page-title{
		text-align: right;
		font-weight: 700;
		font-size: rem(90);
		line-height: 1.44;
		color: #fff;
		padding-left: 15px;
	}
}
.breadcrumbs {
	margin-top: 3vh;
	margin-bottom: 5vh;
	&__inner {}
	&__list {
		white-space: nowrap;
		&.mobile-overflow {
			overflow-y: auto;
		}
	}
	&__list-item {
		position: relative;
		display: inline-block;
		color: #C4C4C4;
		padding-right: 10px;
		&::after{
			position: absolute;
			content: '/';
			right: 0;
			top: 0;
		}
		&:last-child::after{display: none;}
	}
	&__list-link {}
}
.categories{
	&-form{
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&-item{
		border: none;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		white-space: pre;
		&._active{
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

.news {
	padding-top: 13vh;
	padding-bottom: 13vh;
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptive-value("grid-gap", 60, 20, 1);
		margin-bottom: 20px;
	}
	&__item {
		display: flex;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		max-width: 567px;
		&:hover{
			.news__item-image {
				transform: scale(1.05);
				border-radius: 10px;
			}
		}
	}
	&__item-image {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		overflow: hidden;
		flex: 0 1 50%;
		transition: 0.3s;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__item-descr {
		@include adaptive-value("padding-left", 30, 10, 1);
		flex: 0 1 50%;
	}
	&__item-title {
		padding-right: 42px;
		font-size: rem(25);
		line-height: 1.44;
		@include adaptive-value("margin-top", 30, 10, 1);
		@include adaptive-value("margin-bottom", 15, 10, 1);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 36px;
			height: 3px;
			background-color: #F9BC0E;
		}
	}
	&__item-date{
		margin-bottom: 10px;
	}
	&__item-date,
	&__item-category {
		font-size: rem(14);
		line-height: em(16);
		color: #8b8b8b;
	}
	&__item-category {
		margin-bottom: 15px;
	}
	&__item-text{
		color: #8b8b8b;
		@include adaptive-value("margin-bottom", 25, 15, 1);
		padding-right: 35px;
	}
	&__item-text--item{
		display: inline;
		position: relative;
		&::after{
			display: inline-block;
			position: absolute;
			content: '(...)';
			position: absolute;
			bottom: 0;
			right: -35px;
		}
	}
	&__item-text,
	&__item-details {
		font-size: rem(18);
		line-height: 1.44;	
	}
	&__item-details {
		display: inline-block;
		color: #00a1e1;
		@include adaptive-value("margin-bottom", 25, 15, 1);
		position: relative;
		&::after{
			position: absolute;
			bottom: 3px;
			left: 0;
			content: '';
			width: 100%;
			height: 1px;
			background-color: $colBlue;
			display: none;
		}
		&:hover::after{
			display: inline-block;
		}
	}
	&__pagination {}
	&__pagination-list {
		display: flex;
		justify-content: flex-end;
		font-size: rem(18);
		line-height: 1.44;
		color: $colBlue;
		font-weight: 400;
	}
	&__pagination-list--item {
		@include adaptive-value("padding-right", 30, 10, 1);
	}
	&__pagination-list--link {}
	&__pagination-list--item__prev{
		display: none;
		@include adaptive-value("padding-right", 30, 10, 1);
		svg{
			transform: rotate(180deg);
		}
	}
	&__pagination-list--item__next{
		@include adaptive-value("padding-left", 9, 3, 1);
	}
}// ВОТ это можно в ПОДii добавить
.back-news{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin-top: 7vh;
	&__link{
		display: flex;
		align-items: center;
	}
	svg{
		margin-right: 10px;
	}
}
// ВОТ это можно в ПОДii добавить


.paper {
	&__header {
		max-width: 925px;
		@include adaptive-value("margin-bottom", 50, 20, 1);
	}
	&__title {
		font-weight: 400;
		font-size: rem(60);
		line-height: 1.35;
		@include adaptive-value("margin-bottom", 20, 15, 1);
	}
	&__info {}
	&__data {
		font-size: rem(18);
		line-height: em(21);
		color: #6b6b6b;
		@include adaptive-value("margin-bottom", 35, 15, 1);
		& *:not(:last-child){
			@include adaptive-value("margin-right", 30, 15, 1);
		}
	}
	&__data-date {}
	&__data-category {}
	&__meta {
		color: $colBlue;
	}
	&__meta-link {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: rem(15);
		line-height: em(18);
		border: 1px solid $colBlue;
		border-radius: 3px;
		padding: 5px;
		@include adaptive-value("margin-right", 40, 20, 1);
	}
	&__content {}
	&__images {
		filter: drop-shadow(0px 4px 29px rgba(0, 0, 0, 0.25));
		@include adaptive-value("margin-bottom", 50, 20, 1);
	}
	&__images-slider {}
	&__image {
		img{
			width: 100%;
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		color: #2b2b2b;
	}
	&__descr {
		@include adaptive-value("padding-left", 80, 20, 1);
		position: relative;
		font-size: rem(30);
		line-height: 1.44;
		color: #8b8b8b;
		@include adaptive-value("margin-bottom", 50, 20, 1);
		&::before{
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 5px;
			height: 100%;
			background-color: #F9BC0E;
		}
	}
	&__descr-item {}
	&__share {
		display: flex;
		margin-bottom: 10px;
	}
	&__share-text {
		font-size: rem(18);
		line-height: 1.44;
		color: #8b8b8b;
		margin-right: 30px;
	}
	&__share-list {
		display: flex;
	}
	&__share-item {
		&:not(:last-child){
			padding-right: 20px;
		}
	}
	&__share-link {}
}


.similar {
	padding-top: 12vh;
	padding-bottom: 5vh;
	&__title {
		font-size: rem(60);
		line-height: 1.44;
		font-weight: 400;
		@include adaptive-value("margin-bottom", 30, 20, 1);
	}
	&__categories {
		font-family: 'Roboto', sans-serif;
		margin-bottom: 8vh;
	}
	&__categories-item{
		color: #8b8b8b;
	}
}

.page-header{
	&.contacts{
		background-image: url('../images/contacts-bg.jpg');
	}
	&.partners{
		background-image: url('../images/parrners-bg.jpg');
	}
	&.cases{
		background-image: url('../images/cases-bg.jpg');
	}
	&.magazine{
		background-image: url('../images/magazine-bg.jpg');
	}
	&.occasion-page{
		background-image: url('../images/events-bg.jpg');
	}
}

.we {
	&__text {
		font-size: rem(20);
		line-height: 1.44;
		max-width: 1000px;
		margin: 0 auto;
		@include adaptive-value("margin-bottom", 40, 20, 1);
	}
	&__text-item {}
	&__digits {}
	&__digits-list {
		display: flex;
		justify-content: center;
	}
	&__digits-body{
		text-align: center;
		&:not(:last-child){
			@include adaptive-value("padding-right", 50, 15, 1);
		}
	}
	&__digits-digit {
		font-weight: 700;
		font-size: rem(60);
		line-height: 1.44;
		color: rgba(249, 188, 14, 0.25);
		-webkit-text-stroke: 1px #F9BC0E;
	}
	&__digits-definition {
		font-size: rem(16);
		line-height: 1.44;
	}
}
.request {
	padding-top: 10vh;
	padding-bottom: 10vh;
	&__body {
		display: flex;
		justify-content: space-between;
		background: #FFFFFF;
		box-shadow: 0px 0px 26px 2px rgba(167, 167, 167, 0.25);
		border-radius: 20px;
	}
	&__info {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background-color: $colBlue;
		color: #fff;
		max-width: 335px;
		padding-top: 10vh;
		padding-bottom: 11vh;
		padding-right: 15px;
		padding-left: 25px;
		@include adaptive-value("margin-right", 90, 20, 1);
	}
	&__info-logo {
		text-align: center;
		@include adaptive-value("margin-bottom", 70, 25, 1);
	}
	&__info-items{
		margin-bottom: 4vh;
	}
	&__info-item {
		@include adaptive-value("padding-left", 61, 31, 1);
		display: inline-block;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 25px;
			height: 25px;
		}
		&:not(:last-child){
			@include adaptive-value("margin-bottom", 30, 15, 1);
		}
	}
	&__info-tel {
		&::before{
			background: url('../images/icons/phone-icon.svg')no-repeat;
		}
		&:nth-child(2)::before{
			background: url('../images/icons/tel-icon.svg')no-repeat;
		}
		span{
			position: relative;
			&::after{
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				background-color: #fff;
				bottom: 5px;
				left: 0;
			}
		}
	}
	&__info-address {
		&::before{
			background: url('../images/icons/address-icon.svg')no-repeat;
		}
	}
	&__info-email {
		&::before{
			background: url('../images/icons/mail-icon.svg')no-repeat;
		}
	}
	&__info-list {
		display: flex;
		justify-content: center;
		&._black{
			display: none;
		}
	}
	&__info-list--item {
		&:not(:last-child) {
			padding-right: 20px;
		}
	}
	&__info-list--link {}
	&__form {
		width: 100%;
		padding-top: 47px;
		padding-bottom: 47px;
		@include adaptive-value("padding-right", 83, 32, 1);
	}
	&__inputBox {
		margin-bottom: 20px;
	}
	&__label {
		display: inline-block;
		font-size: rem(20);
		line-height: 1.44;
		color: #8b8b8b;
		font-weight: 400;
		margin-bottom: 5px;
	}
	&__inp {
		display: block;
		width: 100%;
		border-radius: 5px;
		border: 1px solid #c4c4c4;
		font-size: rem(20);
		line-height: 1.44;
		padding: 18px 15px;
		&::placeholder{
			color: #c4c4c4;
		}
	}
	&__sel {
		display: block;
		width: 100%;
		font-size: rem(20);
		line-height: 1.44;
		padding: 18px 15px;
		border-radius: 5px;
		border: 1px solid #c4c4c4;
	}
	&__inp-textar {
		resize: none;
		height: 160px;
		@include adaptive-value("margin-bottom", 50, 20, 1);
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
	}
	&__inputFile {}
	&__inputFile-lab {
		padding-right: 21px;
		position: relative;
		font-family: 'Roboto', sans-serif;
		font-size: rem(18);
		line-height: em(21);
		margin-right: 25px;
		color: $colBlue;
		cursor: pointer;
		&::after{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			content: '';
			background: url('../images/icons/file.svg')no-repeat;
			width: 17px;
			height: 17px;
		}
	}
	&__inputFile-inp {
		display: none;
	}
	&__btn {
		max-width: 275px;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: rem(18);
		line-height: em(21);
		color: #fff;
		padding: 22px 34px;
		background-color: #00A1DF;
		box-shadow: 0px 0px 22px #DDF5FF;
		border-radius: 5px;
		border: none;
		cursor: pointer;
	}
}
.hotline {
	padding-top: 3vh;
	padding-bottom: 5vh;
	&__wrapper {
		max-width: 1050px;
		margin: 0 auto;
		display: flex;
		color: #8b8b8b;
	}
	&__left {
		flex: 0 1 50%;
		margin-right: 25px;
		& *:last-child{
			margin-bottom: 0;
		}
	}
	&__title {
		color: #F9BC0E;
		display: block;
		margin-bottom: 10px;
	}
	&__tel {
		display: inline-block;
		font-weight: 700;
		margin-bottom: 35px;
		padding-left: 30px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			top: 7px;
			left: 0px;
			width: 20px;
			height: 20px;
			background: url('../images/icons/phone-grey.png')no-repeat;
		}
		span{
			text-decoration: underline;
		}
	}
	&__descr {
		margin-bottom: 10px;
	}
	&__email {
		display: block;
	}
	&__right {
		flex: 0 1 50%;
		& *:last-child{
			margin-bottom: 0;
		}
	}
}
.partners {
	padding-bottom: 15vh;
	&__inner {
		max-width: 1170px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 350px));
		grid-gap: 40px;
		justify-content: center;
	}
	&__item {
		@include adaptive-value("padding-top", 20, 15, 1);
		padding-bottom: 40px;
		padding-right: 20px;
		padding-left: 20px;
		background-color: #fff;
		box-shadow: 0px 0px 40px rgba(174, 174, 174, 0.25);
		text-align: center;
		position: relative;
	}
	&__logo {
		@include adaptive-value("margin-bottom", 35, 20, 1);
		img{
			max-width: 100%;
		}
	}
	&__text{}
	&__title {
		display: inline-block;
		font-weight: 700;
		font-size: rem(25);
		line-height: 1.44;
		margin-bottom: 10px;
		color: #F9BC0E;
	}
	&__descriptions{}
	&__description {
		@include adaptive-value("padding-right", 50, 0, 1);
		@include adaptive-value("padding-left", 50, 0, 1);
		margin-bottom: 15px;
	}
	&__link {
		font-family: 'Roboto', sans-serif;
		font-size: rem(15);
		line-height: 1.2;
		color: $colBlue;
		padding-right: 24px;
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		&::after{
			position: absolute;
			content: '';
			top: 4px;
			right: 0;
			width: 16px;
			height: 16px;
			background: url('../images/icons/link-icon.png')no-repeat;
		}
	}
	&__read-more--btn{
		text-align: right;
		font-size: rem(15);
		color: $colBlue;
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: none;
	}
	&__item-read-more{
		display: none;
		&._show{
			display: block;
		}
	}
}
.cases {
	padding-bottom: 10vh;
	&__cases {}
	&__case {
		display: flex;
		margin-bottom: 7vh;
	}
	&__image {
		flex: 0 1 540px;
		@include adaptive-value("margin-right", 46, 10, 1);
		max-width: 540px;
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
	&__description {
		// max-width: 680px;
		flex: 1 1 680px;
		display: flex;
		flex-direction: column;
	}
	&__case-header {
		display: flex;
		position: relative;
		&::after{
			position: absolute;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			z-index: -1;
			width: 45%;
			height: 3px;
			background-color: #F9BC0E;
		}
	}
	&__case-title {
		font-weight: 400;
		font-size: rem(25);
		color: #000;
		padding-right: 7px;
		background-color: #fff;
	}
	&__case-socials{
		background-color: #fff;
	}
	&__case-social {
		display: inline-block;
		transform: translateY(5px);
		padding-right: 5px;
		svg{
			max-width: 25px;
		}
		img{
			max-width: 25px;
		}
	}
	&__case-post {
		display: inline-block;
		font-family: 'Roboto', sans-serif;
		font-size: rem(15);
		line-height: 1.2;
		color: #8B8B8B;
		@include adaptive-value("margin-bottom", 20, 10, 1);
	}
	&__case-text {
		font-size: rem(20);
		line-height: 1.44;
		color: #8B8B8B;
		flex: 1 1 auto;
		margin-bottom: 15px;
	}
	&__case-text--item {
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
	&__case-btn--popup{}
	&__case-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptive-value("width", 92, 54, 1);
		@include adaptive-value("height", 92, 54, 1);
		border-radius: 50%;
		background-color: #FFFFFF;
		box-shadow: 0px 0px 16px rgba(116, 116, 116, 0.25);
		border: none;
		cursor: pointer;
		svg{
			@include adaptive-value("max-width", 40, 23, 1);
			@include adaptive-value("max-height", 40, 23, 1);

		}
	}
	.popup{
		font-size: 0;
		line-height: 0;
		iframe{
			width: 100%;
			max-width: 100%;
			height: 50vh;
		}

	}
}
.search-wrapepr {
	@include adaptive-value("margin-bottom", 50, 20, 1);
}
.magazine-container{
	max-width: 1100px;
	margin: 0 auto;
}
.mag-container{
	max-width: 1200px;
	margin: 0 auto;
}
.search {
	&__form {
		display: flex;
		justify-content: space-between;
	}
	&__inpBox {
		position: relative;
		max-width: 600px;
		width: 100%;
		margin-right: 25px;
	}
	&__inp {
		font-family: 'Roboto', sans-serif;
		padding: 16px 35px 16px 20px;
		border: 1px solid #7e7e7e;
		border-radius: 5px;
		width: 100%;
	}
	&__btn-wrapper {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	&__selBox {}
	&__select {
		font-family: 'Roboto', sans-serif;
		font-size: rem(18);
		line-height: 1.2;
		padding: 15px 33px 15px 20px;
		box-shadow: 0px 0px 3px rgba(21, 21, 21, 0.39);
		background-color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}
.magazine.categories{
	color: #6b6b6b;
	@include adaptive-value("margin-bottom", 50, 20, 1);
	.categories-item{
		color: inherit;
	}
}
.mag {
	padding-bottom: 13vh;
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 370px));
		grid-gap: 40px 20px;
		justify-content: center;
		margin-bottom: 5vh;
	}
	&__item {
		display: flex;
		flex-direction: column;
		max-width: 370px;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		@include adaptive-value("padding", 20, 10, 1);
		&.txt{
			.mag__link-file--txt{display: inline-block;}
		}
		&.pdf{
			.mag__link-file--pdf{display: inline-block;}
		}
		&.video{
			.mag__link-file--video{display: inline-flex;}
		}
	}
	&__image {
		overflow: hidden;
		max-width: 330px;
		width: 100%;
		margin-bottom: 10px;
		img{
			max-width: 100%;
			border-radius: 10px;
		}
	}
	&__description {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	&__categories {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: rem(12);
		line-height: 1.1;
		@include adaptive-value("margin-bottom", 10, 5, 1);
	}
	&__title {
		display: block;
		font-size: rem(25);
		line-height: 1.4;
		@include adaptive-value("margin-bottom", 10, 5, 1);
		padding-right: 5px;
	}
	&__texts {
		font-size: 1rem;
		line-height: 1.3;
		color: #8b8b8b;
		margin-bottom: 10px;
		flex: 1 1 auto;
	}
	&__text {
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}
	&__link {}
	&__link-file {}
	&__link-file--video{
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 37px;
		height: 37px;
		background-color: #00A1E1;
		border-radius: 50%;
	}
	&__link-file--txt,
	&__link-file--pdf,
	&__link-file--video{
		display: none;
	}
	&__pagination {}
	&__pagination-list {
		display: flex;
		justify-content: flex-end;
		font-size: rem(18);
		line-height: 1.44;
		color: $colBlue;
		font-weight: 400;
	}
	&__pagination-list--item {
		@include adaptive-value("padding-right", 30, 10, 1);
	}
	&__pagination-list--link {}
	&__pagination-list--item__prev{
		display: none;
		@include adaptive-value("padding-right", 30, 10, 1);
		svg{
			transform: rotate(180deg);
		}
	}
	&__pagination-list--item__next{
		@include adaptive-value("padding-left", 9, 3, 1);
	}
}
.occasion-categories{
	& { 
		.categories-form{
			justify-content: center;
		}
		.categories-item{
			@include adaptive-value("margin-right", 45, 15, 1);
			color: $colBlue;
			&::after{
				background-color: $colBlue;
			}
		}
	}
}
.occasion {
	padding-top: 3vh;
	padding-bottom: 15vh;
	&__inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include adaptive-value("grid-gap", 60, 20, 1);
		margin-bottom: 20px;
	}
	&__item-date,
	&__item-time{
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: rem(15);
		line-height: 1.2;
		color: #F9BC0E;
		display: block;
		margin-bottom: 10px;
		padding-left: 23px;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			width: 13px;
			height: 13px;
			top: 2px;
			left: 0;
			z-index: 5;
		}
	}
	&__item-date {
		&::before{
			background: url('../images/icons/date-icon.png')no-repeat;
		}
	}
	&__item-time {
		&::before{
			background: url('../images/icons/time-icon.png')no-repeat;
		}
	}
	&__item-text {}
	&__item-text--item {}
	&__item-details {}
		&__item {
		display: flex;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		max-width: 567px;
		&:hover{
			.news__item-image {
				transform: scale(1.05);
				border-radius: 10px;
			}
		}
	}
	&__item-image {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		overflow: hidden;
		flex: 0 1 50%;
		transition: 0.3s;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__item-descr {
		@include adaptive-value("padding-left", 30, 10, 1);
		flex: 0 1 50%;
	}
	&__item-title {
		padding-right: 42px;
		font-size: rem(25);
		line-height: 1.44;
		@include adaptive-value("margin-top", 30, 10, 1);
		@include adaptive-value("margin-bottom", 15, 10, 1);
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 36px;
			height: 3px;
			background-color: #F9BC0E;
		}
	}
	&__item-text{
		color: #8b8b8b;
		@include adaptive-value("margin-bottom", 25, 15, 1);
		padding-right: 35px;
	}
	&__item-text--item{
		display: inline;
		position: relative;
		&:last-child::after{
			display: inline-block;
			position: absolute;
			content: '(...)';
			position: absolute;
			bottom: 0;
			right: -35px;
		}
	}
	&__item-text,
	&__item-details {
		font-size: rem(18);
		line-height: 1.44;	
	}
	&__item-details {
		display: inline-block;
		color: #00a1e1;
		@include adaptive-value("margin-bottom", 25, 15, 1);
		position: relative;
		&::after{
			position: absolute;
			bottom: 3px;
			left: 0;
			content: '';
			width: 100%;
			height: 1px;
			background-color: $colBlue;
			display: none;
		}
		&:hover::after{
			display: inline-block;
		}
	}
	&__item-read-more{
		display: none;
		&._show{
			display: block;
		}
	}
	&__read-more--btn{
		text-align: right;
		font-size: rem(15);
		color: $colBlue;
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: none;
	}
}

@import 'media';